<%= form_for :response, url: responses_path do |f| %>
  <p>
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </p>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
